.App {
	text-align: center;
	background-color: light;
	min-height: 100vh;
}
.parent-content {
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.content-item {
	width: 70%;
}