.App {
	text-align: center;
	background-color: light;
	min-height: 100vh;
}

.header {
	padding-bottom: 40px;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding-top: 80px;
	white-space: pre-line;
}

.content-item {
	width: 65%;
}

.examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.example {
	display: inline-block;
	width: 40%;
	padding: 1em;
	margin: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

.example .IO {
	text-align: left;
	height: 128px;
	border: 1px solid #ccc;
	border-radius: 1em;
	padding: 1em;
	background-color: #e9ecef;
}

.navigationBar {
	position: fixed;
	width: 100%;
	background-color: #e9ecef;
	border-bottom: 1px solid #ccc;
}

.profileImg {
	height: "300px";
	border: "2px solid #111";
	border-radius: 5%;
	margin-bottom: "10px";
}

.loginForm {
	display: flex;
	flex-direction: column;
	border-radius: 5%;
	border: 1px solid #ccc;
	padding: 50px;
	width: 400px;
}
.loginForm > * {
	margin: 2px;
}

.credit{
	margin-top: 64px;
	font-size: 12px;
	color: #555;
}