.App {
	text-align: center;
	background-color: light;
	min-height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.content-item {
	width: 65%;
}

.example {
	display: inline-block;
	width: 40%;
	padding: 1em;
	margin: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}
.example .IO{
	text-align: left;
	height: 128px;
	border: 1px solid #ccc;
	border-radius: 1em;
	padding: 1em;
	background-color: #e9ecef;
}